.social_items_icon a {
    transition: all linear 100ms;
}

.social_items_icon a:hover {
    text-shadow: 0 0 8px black;
    transform: scale(1.2);
    color: #e1bee7 !important;
}



.top_carousel {
    height: calc(100vh - 64px) !important;
}

.top_carousel a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top_carousel a img {
    min-height: 100% !important;
    width: unset !important;
    height: unset !important;
    min-width: 100% !important;
}

.top_text {
    position: absolute;
    width: 150px;
    height: 100px;
    background: #fce4ec;
    color: #4a148c;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 px black;
    font-size: 1.5rem;
    transition: all ease 230ms;
    transform: perspective(800px) rotateY(25deg) scale(0.9) rotateX(10deg);
    filter: blur(1px);
    opacity: 0.6;
}

.top_text.isShow {
    transform: perspective(800px) rotateY(-15deg) translateY(-10px) scale(1) rotateX(10deg);
    filter: blur(0);
    opacity: 1;
}
