@font-face {
    font-family: "Byekan";
    src: url(/main/font/BYekan/BYekan-webfont.eot) format(eot),
        url(/main/font/BYekan/BYekan-webfont.ttf) format(truetype),
        url(/main/font/BYekan/BYekan-webfont.woff) format(woff);
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "Byekan";
    direction: rtl;
    text-align: right;
}

body {
    background: url(/main/image/images/body_back3.jpg) repeat;
}

/* -------=============== ScrollBar start =============--------- */
::-webkit-scrollbar {
    width: 5px !important;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* -------=============== ScrollBar   end =============--------- */

nav ul li a:hover {
    background: transparent;
}

.nav_container {
    filter: drop-shadow(0 0 3px black);
}

nav .brand-logo {
    width: 65px;
    top: 0.5rem;
}

nav .brand-logo img {
    width: 100%;
    filter: drop-shadow(0 0 1px white);
    transition: all 200ms ease;
}

nav .brand-logo img:hover {
    filter: drop-shadow(0 0 5px #f8bbd0);
    transition: all 200ms ease;
}

.navbar_ul {
    display: flex;
    position: relative;
    right: 75px !important;
}

.menu_links_desktop::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #f8bbd0;
    display: block;
    position: relative;
    bottom: 10px;
    transform: scale(0);
    transition: all ease 200ms;
    border-radius: 10%;
}

.menu_links_desktop:hover::after {
    transform: scale(1);
}

.menu_links_desktop.active::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #f8bbd0;
    display: block;
    position: relative;
    bottom: 10px;
    transform: scale(1);
    border-radius: 10%;
}

nav .sidenav-trigger {
    float: right !important;
}

#mobile-demo {
    background: linear-gradient(180deg, rgba(149, 43, 223, 0.5717260537027311) 23%, rgba(232, 33, 231, 0.5913338968399859) 56%, rgba(63, 0, 84, 0.5437148492209384) 82%),
        url(/main/image/images/sideBack.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#mobile-demo li {
    width: 100%;
}

#mobile-demo li a {
    text-align: center;
    color: white;
    transition: all ease 100ms;
}

#mobile-demo li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 1.3rem;
    backdrop-filter: blur(1px);
}

#nav_svg {
    position: fixed;
    top: 32px;
    pointer-events: none;
}

.top_carousel {
    height: calc(100vh - 64px) !important;
}

.top_carousel a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top_carousel a img {
    min-height: 100% !important;
    width: unset !important;
    height: unset !important;
    min-width: 100% !important;
}

.top_text {
    position: absolute;
    width: 150px;
    height: 100px;
    background: #fce4ec;
    color: #4a148c;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 px black;
    font-size: 1.5rem;
    transition: all ease 230ms;
    transform: perspective(800px) rotateY(25deg) scale(0.9) rotateX(10deg);
    filter: blur(1px);
    opacity: 0.6;
}

.top_text.isShow {
    transform: perspective(800px) rotateY(-15deg) translateY(-10deg) scale(1) rotateX(10deg);
    filter: blur(0);
    opacity: 1;
}


@media (max-width:600px) {
    .top_carousel {
        height: calc(100vh - 56px) !important;
    }
}

@media (min-width:992px) {
    nav .brand-logo {
        right: 5px !important;
    }
}